{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if has_import_permission %}
        <li>
            <a href="{% url cl.opts|admin_urlname:'import' %}" class="import_link">
                {% trans "Import" %}
            </a>
        </li>
    {% endif %}
    {% if has_export_permission %}
        <li>
            <a href="{% url cl.opts|admin_urlname:'export' %}" class="export_link">
                {% trans "Export" %}
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ download_template_urls.csv }}" class="downloadlink" style="background-color: #79aec8;">
            <i class="fas fa-download"></i> {% trans "Download CSV Template" %}
        </a>
    </li>
    <li>
        <a href="{{ download_template_urls.xlsx }}" class="downloadlink" style="background-color: #417690;">
            <i class="fas fa-file-excel"></i> {% trans "Download Excel Template" %}
        </a>
    </li>
    {% if has_add_permission %}
        <li>
            <a href="{% url cl.opts|admin_urlname:'add' %}" class="addlink">
                {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block import_export_toolbar %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %} 